<div class="main-w3layouts wrapper apear">
    <app-cabecera> </app-cabecera>
    <div class="container main-body">
        <div class="list-group slide-in">
            <a (click)="AsignarViaje()" class="list-group-item list-group-item-action css3button">
                <div class="media">
                    <div class="media-left flip-img">
                        <img src="./assets/imagenes/saladejuegos.png" class="media-object img-circle imagenDeMenu">
                    </div>
                    <div class="media-body">
                        <h4 class="titulo">Viajes a asignar</h4>
                    </div>
                </div>
            </a>
            <a (click)="HistorialViajes()" class="list-group-item list-group-item-action css3button">
                <div class="media">
                    <div class="media-left flip-img">
                        <img src="./assets/imagenes/listado.jpg" class="media-object img-circle imagenDeMenu">
                    </div>
                    <div class="media-body">
                        <h4 class="titulo">Historial de viajes</h4>
                    </div>
                </div>
            </a>
            <a (click)="Informes()" class="list-group-item list-group-item-action css3button">
                <div class="media">
                    <div class="media-left flip-img">
                        <img src="./assets/imagenes/listado.jpg" class="media-object img-circle imagenDeMenu">
                    </div>
                    <div class="media-body">
                        <h4 class="titulo">Informes</h4>
                    </div>
                </div>
            </a>
            <a (click)="Gestion()" class="list-group-item list-group-item-action css3button">
                <div class="media">
                    <div class="media-left flip-img">
                        <img src="./assets/imagenes/listado.jpg" class="media-object img-circle imagenDeMenu">
                    </div>
                    <div class="media-body">
                        <h4 class="titulo">Gestion de vehiculos y remiseros</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <app-decorations></app-decorations>
</div>