<div class="main-w3layouts wrapper apear">
    <app-cabecera> </app-cabecera>
    <div class="container main-body">
        <div class="list-group slide-in">
            <a (click)="AsignarViaje()" class="list-group-item list-group-item-action css3button">
                <div class="media">
                    <div class="media-left flip-img">
                        <img src="./assets/imagenes/asignar.gif" class="media-object img-circle imagenDeMenu">
                    </div>
                    <div class="media-body">
                        <h4 class="titulo">Viajes a asignar</h4>
                        <p>Lista de viajes asignables a remiseros, de acuerdo a las necesidades del viaje y comodidad del cliente</p>
                    </div>
                </div>
            </a>
            <a (click)="HistorialViajes()" class="list-group-item list-group-item-action css3button">
                <div class="media">
                    <div class="media-left flip-img">
                        <img src="./assets/imagenes/listado.gif" class="media-object img-circle imagenDeMenu">
                    </div>
                    <div class="media-body">
                        <h4 class="titulo">Historial de viajes</h4>
                        <p>Lista completa del histórico de viajes pedidos por los clientes</p>
                    </div>
                </div>
            </a>
            <a (click)="Informes()" class="list-group-item list-group-item-action css3button">
                <div class="media">
                    <div class="media-left flip-img">
                        <img src="./assets/imagenes/informes.gif" class="media-object img-circle imagenDeMenu">
                    </div>
                    <div class="media-body">
                        <h4 class="titulo">Informes estadísticos</h4>
                        <p>Informes gráficos sobre las encuestas del servicio</p>
                    </div>
                </div>
            </a>
            <a (click)="Gestion()" class="list-group-item list-group-item-action css3button">
                <div class="media">
                    <div class="media-left flip-img">
                        <img src="./assets/imagenes/vehiculos.gif" class="media-object img-circle imagenDeMenu">
                    </div>
                    <div class="media-body">
                        <h4 class="titulo">Gestion de vehículos y remiseros</h4>
                        <p>Alta, baja (lógica) y modificación de vehículos y remiseros</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <app-decorations></app-decorations>
</div>