
<form method="POST" enctype="multipart/form-data" id="formAlta">
  <div class="form-group">
      <div class="row">
          <div class="col-sm-6">
              <div class="input-group">
                  <span class="input-group-addon">
                      <i class="glyphicon glyphicon-user"></i>
                  </span>
                  <input type="text" class="form-control" maxlength="255" placeholder="Nombre" name="nombre" id="txtNombre" autofocus>
                  <span class="input-group-btn">
                      <button class="btn btn-danger" type="button" onclick="javascript: $('#txtNombre').val('');">
                          <i class="glyphicon glyphicon-remove"></i>
                      </button>
                  </span>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="input-group">
                  <span class="input-group-addon">
                      <i class="glyphicon glyphicon-user"></i>
                  </span>
                  <input type="text" class="form-control" maxlength="255" placeholder="Apellido" name="apellido" id="txtApellido" autofocus>
                  <span class="input-group-btn">
                      <button class="btn btn-danger" type="button" onclick="javascript: $('#txtApellido').val('');">
                          <i class="glyphicon glyphicon-remove"></i>
                      </button>
                  </span>
              </div>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-sm-6">
              <div class="input-group">
                  <span class="input-group-addon">
                      <i class="glyphicon glyphicon-envelope"></i>
                  </span>
                  <input type="text" class="form-control" maxlength="255" placeholder="Email" name="email" id="txtEmail" autofocus>
                  <span class="input-group-btn">
                      <button class="btn btn-danger" type="button" onclick="javascript: $('#txtEmail').val('');">
                          <i class="glyphicon glyphicon-remove"></i>
                      </button>
                  </span>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="input-group">
                  <span class="input-group-addon">
                      <i class="glyphicon glyphicon-lock"></i>
                  </span>
                  <input type="text" class="form-control" maxlength="255" placeholder="Clave" name="password" id="txtPassword" autofocus>
                  <span class="input-group-btn">
                      <button class="btn btn-danger" type="button" onclick="javascript: $('#txtPassword').val('');">
                          <i class="glyphicon glyphicon-remove"></i>
                      </button>
                  </span>
              </div>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-sm-6">
              <div class="form-group" id="optForm">
                  <label for="optSexo">Sexo:</label>
                  <br>
                  <label class="radio-inline">
                      <input type="radio" checked name="sexo" value="0">Femenino</label>
                  <label class="radio-inline">
                      <input type="radio" name="sexo" value="1">Masculino</label>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="form-group">
                  <label for="selTurno">Turno:</label>
                  <select class="form-control" id="selTurno" name="turno">
                      <option>Mañana</option>
                      <option>Tarde</option>
                      <option>Noche</option>
                  </select>
              </div>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-sm-6">
              <div class="form-group" id="optForm2">
                  <label for="optPerfil">Perfil:</label>
                  <br>
                  <label class="radio-inline">
                      <input type="radio" value="admin" name="perfil" id="optPerfilAdm">Administrador</label>
                  <label class="radio-inline">
                      <input type="radio" checked value="usuario" name="perfil" id="optPerfilUsr">Usuario</label>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="form-group">
                  <label>
                      <input type="checkbox" id="chkHabilitado" checked name="habilitado">Habilitado</label>
              </div>
          </div>
      </div>
      <br>
      <div class="input-group">
          <span class="input-group-addon">
              <i class="glyphicon glyphicon-list-alt"></i>
          </span>
          <input type="file" class="form-control" placeholder="Foto" name="foto" id="Foto" autofocus>
          <span class="input-group-btn">
              <button class="btn btn-danger" type="button" onclick="javascript: $('#Foto').val('');">
                  <i class="glyphicon glyphicon-remove"></i>
              </button>
          </span>
      </div>
      <br>
  </div>
</form>