body {
    /*font-size: 15px;*/
}

table {
    background-color: white;
    font-size: 15px;
    text-align: center;
}

th {
    vertical-align: middle !important;
}

td {
    vertical-align: middle !important;
}