<app-cabecera>  </app-cabecera>
<div class="container main-body">
   <div class="list-group">
      <a class="list-group-item list-group-item-action css3button">
         <div class="media">
            <div class="media-left">
               <img src="./assets/imagenes/saladejuegos.png" class="media-object img-circle imagenDeMenu" >
            </div>
            <div class="media-body">
               <h4 class="list-group-item-heading" (click)="MisViajes()">Mis viajes</h4>
            </div>
         </div>
      </a>
   </div>
</div>