<div class="main-w3layouts wrapper apear">
  
  <div id="id01" class="">
      <app-cabecera> </app-cabecera>
    <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span> -->
    <form class="animate formRegister">
      <div id="id01content" class="container main-body form-container">
        <div id="signUpSucess" style="display: none; text-align: center;">
          <h1>Viaje registrado con exito!</h1>
          <br>
          <h3 id="costoMensaje"></h3>
          <h3 id="duracionMensaje"></h3>
          <br>
          <button style="width: 100%; font-size: 20px; margin: auto;" class="btn btn-success signupbtn" routerLink="/">Volver a la pantalla principal</button>
        </div>
        <div id="formContent">

          <h2>
            <b>Nuevo viaje</b>
          </h2>
          <br>
          <br>

          <label>
            <b>Seleccione fecha de viaje</b>
          </label>
          <br>
          <input id="fecha" type="date" placeholder="Seleccione fecha de viaje" name="fecha" required>
          <br>
          <br>

          <label>
            <b>Seleccione hora de viaje</b>
          </label>
          <br>
          <input id="hora" type="time" placeholder="Seleccione hora de viaje" name="hora" required>
          <br>
          <br>

          <label>
            <b>Seleccione origen</b>
          </label>
          <br>
          <input id="origen" type="text" placeholder="Seleccione origen" name="origen" required #origen [formControl]="searchControl">
          <br>
          <br>

          <label>
            <b>Seleccione destino</b>
          </label>
          <br>
          <input id="destino" type="text" placeholder="Seleccione destino" name="destino" required #destino [formControl]="searchControl">
          <br>
          <br>

          <agm-map control="map.control" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <agm-marker [latitude]="latOrigen" [longitude]="lngOrigen"></agm-marker>
            <agm-marker [latitude]="latDestino" [longitude]="lngDestino"></agm-marker>
            <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination" (onChange)="dirChange($event)" [provideRouteAlternatives]="true"
              [drivingOptions]="drivingOptions">
            </agm-direction>
          </agm-map>

          <br>

          <label>
            <b>Seleccione medio de pago</b>
          </label>
          <br>
          <select id="medio_de_pago" placeholder="Seleccione medio de pago" name="medio_de_pago" required>
            <option disabled selected value style="display:none"></option>
            <option value="Efectivo">Efectivo</option>
            <option value="Tarjeta">Tarjeta</option>
            <option value="Cuenta corriente">Cuenta corriente</option>
          </select>
          <br>
          <br>

          <label>
            <b>Seleccione nivel de comodidad</b>
          </label>
          <br>
          <select id="comodidad_solicitada" placeholder="Seleccione comodidad" name="comodidad_solicitada" required>
            <option disabled selected value style="display:none"></option>
            <option value="Bajo">Bajo</option>
            <option value="Medio">Medio</option>
            <option value="Alto">Alto</option>
            <option value="N/A">N/A</option>
          </select>
          <br>
          <br>

          <label>
            <b>Cantidad de asientos</b>
          </label>
          <br>
          <select id="cantidad_de_ascientos_solicitados" placeholder="Seleccione cantidad de ascientos" name="cantidad_de_ascientos_solicitados"
            required>
            <option disabled selected value style="display:none"></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="N/A">N/A</option>
          </select>
          <br>
          <br>

          <label>
            <b>Resuelva la suma:</b>
          </label>
          <label type="text" name="calculo" id="calculo" style="width: 40%; border: solid; border-color: slategrey;"></label>
          <!-- <input type="text" name="calculo" id="calculo" readonly style="width: 40%;"> -->
          <input type="number" id="numCaptcha" name="numCaptcha">
          <br>
          <br>

          <div class="clearfix">
            <button class="btn btn-success signupbtn" (click)="registrar()">Viajar</button>
            <button style="margin-left: 15px;" class="btn btn-danger cancelbtn" (click)="cancelar()">Cancelar</button>
            <button class="btn btn-info cancelbtn" (click)="test()">Test</button>
          </div>
          <div id="carga"></div>
          <h2 id="userError" style="visibility:hidden; color:red">Hubo un error al dar de alta el viaje!</h2>
          <br>
        </div>
      </div>
    </form>

  </div>



  
  <app-decorations></app-decorations>
</div>


<!-- MODAL mensajes -->
<div class="modal fade titulo" id="modalFelicidadesLogged" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
          <div class="modal-header" style='color: white; background-color: rgb(153, 6, 6);'>
            <h4 class="modal-title" id="myModalLabel">Error</h4>
            <h2 id="userErrorTitle" style="visibility:hidden; color:red">Error</h2>
            <br>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
          </div>
          <div class="modal-body">
            <h5 class="myModalLabelBody titulo" id="mensaje">mensaje</h5>
            <h2 id="userErrorBody" style="visibility:hidden; color:red">Ocurrio un error al intentar guardar su viaje</h2>
            <br>
            <button class="btn btn-danger" style="font-size: 14px; margin-bottom: 15px; bottom: 0px; margin-right: 15px; right: 0px;" type="button" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>