body {
    /*font-size: 15px;*/
}

table {
    background-color: white;
    font-size: 15px;
    text-align: center;
}

th {
    vertical-align: middle !important;
}

td {
    vertical-align: middle !important;
}

.imagenDeMenu{
	width: 80px;
	height: 70px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #100000;
}

.game-description{
	font-size: 15px;
}

.main-body{
    background-color: transparent;
    margin-top: 5%;	
    margin-bottom: 5%;	
}

.list-group-item {
	margin: 10px;
}

.css3button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #808080;
    padding: 10px 20px;
    background: -moz-linear-gradient(
        top,
        #ffffff 0%,
        #949494);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#ffffff),
        to(#949494));
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #808080;
    -moz-box-shadow:
        2px 3px 3px rgba(0,0,0,0.3),
        inset 2px 1px 2px rgba(255,255,255,1);
    -webkit-box-shadow:
        2px 3px 3px rgba(0,0,0,0.3),
        inset 2px 1px 2px rgba(255,255,255,1);
    box-shadow:
        2px 3px 3px rgba(0,0,0,0.3),
        inset 2px 1px 2px rgba(255,255,255,1);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.4),
        0px 1px 0px rgba(255,255,255,0.3);
}
.list-group-item-heading{
    font-size: 30px;
    padding: 14px;
}

body {
    /*font-size: 15px;*/
}

table {
    background-color: white;
    font-size: 15px;
    text-align: center;
}

th {
    vertical-align: middle !important;
}

td {
    vertical-align: middle !important;
}

/*=================================*/

.container{
    text-align: center;
    padding: 2.5%;
}
.button{
    width: 50%;
    margin: 2.5%;
    height: 50px;
    font-size: 20px;
}

#cell-0,  #cell-1,  #cell-2  { border-top:    2px solid #000000; }
#cell-2,  #cell-11, #cell-20 { border-right:  2px solid #000000; }
#cell-18, #cell-19, #cell-20 { border-bottom: 2px solid #000000; }
#cell-0,  #cell-9,  #cell-18 { border-left:   2px solid #000000; }
#cell-3,  #cell-4,  #cell-5  { border-top:    2px solid #000000; }
#cell-5,  #cell-14, #cell-23 { border-right:  2px solid #000000; }
#cell-21, #cell-22, #cell-23 { border-bottom: 2px solid #000000; }
#cell-3,  #cell-12, #cell-21 { border-left:   2px solid #000000; }
#cell-6,  #cell-7,  #cell-8  { border-top:    2px solid #000000; }
#cell-8,  #cell-17, #cell-26 { border-right:  2px solid #000000; }
#cell-24, #cell-25, #cell-26 { border-bottom: 2px solid #000000; }
#cell-6,  #cell-15, #cell-24 { border-left:   2px solid #000000; }
#cell-27, #cell-28, #cell-29 { border-top:    2px solid #000000; }
#cell-29, #cell-38, #cell-47 { border-right:  2px solid #000000; }
#cell-45, #cell-46, #cell-47 { border-bottom: 2px solid #000000; }
#cell-27, #cell-36, #cell-45 { border-left:   2px solid #000000; }
#cell-30, #cell-31, #cell-32 { border-top:    2px solid #000000; }
#cell-32, #cell-41, #cell-50 { border-right:  2px solid #000000; }
#cell-48, #cell-49, #cell-50 { border-bottom: 2px solid #000000; }
#cell-30, #cell-39, #cell-48 { border-left:   2px solid #000000; }
#cell-33, #cell-34, #cell-35 { border-top:    2px solid #000000; }
#cell-35, #cell-44, #cell-53 { border-right:  2px solid #000000; }
#cell-51, #cell-52, #cell-53 { border-bottom: 2px solid #000000; }
#cell-33, #cell-42, #cell-51 { border-left:   2px solid #000000; }
#cell-54, #cell-55, #cell-56 { border-top:    2px solid #000000; }
#cell-56, #cell-65, #cell-74 { border-right:  2px solid #000000; }
#cell-72, #cell-73, #cell-74 { border-bottom: 2px solid #000000; }
#cell-54, #cell-63, #cell-72 { border-left:   2px solid #000000; }
#cell-57, #cell-58, #cell-59 { border-top:    2px solid #000000; }
#cell-59, #cell-68, #cell-77 { border-right:  2px solid #000000; }
#cell-75, #cell-76, #cell-77 { border-bottom: 2px solid #000000; }
#cell-57, #cell-66, #cell-75 { border-left:   2px solid #000000; }
#cell-60, #cell-61, #cell-62 { border-top:    2px solid #000000; }
#cell-62, #cell-71, #cell-80 { border-right:  2px solid #000000; }
#cell-78, #cell-79, #cell-80 { border-bottom: 2px solid #000000; }
#cell-60, #cell-69, #cell-78 { border-left:   2px solid #000000; }

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 2;
  width: 50%;
  height: 130px;
  position: absolute;
  padding: 20px;
  border: none;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  font: normal 32px/2 "Abel", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #0199d9;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}

.enjoy-css::before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 1;
  width: 40px;
  height: 40px;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  border: none;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(0,0,0,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #0199d9;
  text-shadow: none;
  -webkit-transform: rotateZ(-14.32394487827058deg)  translateX(-5px) skewX(-36deg);
  transform: rotateZ(-14.32394487827058deg)  translateX(-5px) skewX(-36deg);
}

.tiempo {
    margin-top: 50%;
}

.reintentos {
    margin-top: 100%;
}

.PPTbutton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
  padding: 8px 20px;
  background: -moz-linear-gradient(
    top,
    #f5f5f5 0%,
    #ffffff);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#f5f5f5),
    to(#ffffff));
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #c2c2c2;
  -moz-box-shadow:
    2px 2px 5px rgba(0,0,0,0.7),
    inset -3px -2px 5px rgba(255,255,255,0.7);
  -webkit-box-shadow:
    2px 2px 5px rgba(0,0,0,0.7),
    inset -3px -2px 5px rgba(255,255,255,0.7);
  box-shadow:
    2px 2px 5px rgba(0,0,0,0.7),
    inset -3px -2px 5px rgba(255,255,255,0.7);
  text-shadow:
    0px -1px 3px rgba(255,255,255,0.8),
    0px 1px 0px rgba(255,255,255,0.3);
  margin: 5%;
}

.PPTbutton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

.board {
  background-color: black;
  width: 50%;
  margin: auto;
  padding: 5%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 1.5px/normal Arial, Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-radial-gradient(circle, rgb(35,29,24) 25%, rgba(0,0,0,0) 25%), -webkit-radial-gradient(circle, rgb(63,57,50) 25%, rgba(0,0,0,0) 25%), -webkit-radial-gradient(circle, rgb(35,29,24) 25%, rgba(0,0,0,0) 25%), -webkit-radial-gradient(circle, rgb(63,57,50) 25%, rgba(0,0,0,0) 25%), rgba(0,57,84,1);
  background: -moz-radial-gradient(circle, rgb(35,29,24) 25%, rgba(0,0,0,0) 25%), -moz-radial-gradient(circle, rgb(63,57,50) 25%, rgba(0,0,0,0) 25%), -moz-radial-gradient(circle, rgb(35,29,24) 25%, rgba(0,0,0,0) 25%), -moz-radial-gradient(circle, rgb(63,57,50) 25%, rgba(0,0,0,0) 25%), rgba(0,57,84,1);
  background: radial-gradient(circle, rgb(35,29,24) 25%, rgba(0,0,0,0) 25%), radial-gradient(circle, rgb(63,57,50) 25%, rgba(0,0,0,0) 25%), radial-gradient(circle, rgb(35,29,24) 25%, rgba(0,0,0,0) 25%), radial-gradient(circle, rgb(63,57,50) 25%, rgba(0,0,0,0) 25%), rgba(0,57,84,1);
  background-position: 3em 3em, 3em 4em, auto auto, 0 1em;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 6em 6em;
  background-size: 6em 6em;
  border-radius: 15px;
  box-shadow: 5px 5px 15px black;
}


.col-sm-10 {
  margin: auto;
}

.eleccionUsuario {
  width: 100%;
  height: auto;
  margin-top: 10%;
  padding: 2.5%;
}

.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 2;
  width: 50%;
  height: 130px;
  position: absolute;
  padding: 20px;
  border: none;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  font: normal 32px/2 "Abel", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #0199d9;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}

.enjoy-css::before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 1;
  width: 40px;
  height: 40px;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  border: none;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(0,0,0,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #0199d9;
  text-shadow: none;
  -webkit-transform: rotateZ(-14.32394487827058deg)  translateX(-5px) skewX(-36deg);
  transform: rotateZ(-14.32394487827058deg)  translateX(-5px) skewX(-36deg);
}

.tiempo {
    margin-top: 30%;
}

.reintentos {
    margin-top: 80%;
}

.myModalLabelBody {
  margin-top: 5%;
  font-size: 2.25rem;
  font-weight: 700;
}